<div class="nav-head">
	<!-- Site logo -->
	<h4>荣励单设备智能监控系统</h4>
	<span class="nav-trigger fa" 
		ng-class="{'fa-navicon': isMobile, 'fa-outdent': !isMobile}" 
		toggle-nav-min toggle-off-canvas>
	</span>
</div>


<div class="head-wrap clearfix">
	<!-- navbar right -->
	<ul class="list-unstyled navbar-right">
		<!-- fullscreen -->
		<li>
			<a href="/monitor/monitorno/logout"><i class="fa fa-power-off fa-2x"></i></a>
		</li>
		<!-- #end fullscreen -->

		<!-- #end profile-drop -->
	</ul>
</div>


