

<nav class="site-nav clearfix" role="navigation" collapse-nav-accordion highlight-active>
	<ul class="list-unstyled nav-list">
		<li>
			<a href="#/huanj">
				<i class="fa fa-desktop icon"></i>
				<span class="text">机组环境状态</span>
			</a>
		</li>
		<li>
			<a href="#/jizu">
				<i class="fa fa-paper-plane icon"></i>
				<span class="text">机组动力状态</span>
			</a>
		</li>
		<li>
			<a href="#/keySet">
				<i class="fa fa-building icon"></i>
				<span class="text">关键设备</span>
				
			</a>
		</li>
		<li>
			<a href="#/evenR">
				<i class="fa fa-table icon"></i>
				<span class="text">事件日志</span>
				
			</a>
		</li>
		<li>
			<a href="#/evenC">
				<i class="fa fa-pie-chart icon"></i>
				<span class="text">事件处理</span>
				
			</a>
		</li>
		<li>
			<a href="#/report">
				<i class="fa fa-file-text icon"></i>
				<span class="text">报表中心</span>
				
			</a>
		</li>
		
	</ul>
	<ul class="list-unstyled nav-list">
		<li>
			<a href="javascript:;">
				<i class="fa fa-leaf icon"></i>
				<span class="text">设备管理</span>
				<i class="arrow fa fa-angle-right right"></i>
				<span class="badge badge-xs badge-info">6</span>
			</a>
			<ul class="inner-drop list-unstyled">
				<li><a href="#/huanjing">环境参数设置</a></li>
				<li><a href="#/powerSet">动力参数设置</a></li>
				<li><a href="#/policeSet">告警时段设置</a></li>
				<li><a href="#/caseSet">机柜告警设置</a></li>
				<li><a href="#/setTimt">定时保存设置</a></li>
				<li><a href="#/userSet">用户权限设置</a></li>
			</ul>
		</li>
	</ul>
</nav>
