<div class="page page-huanj clearfix">
		<div class="row title">
			<div class="col-lg-6 col-xs-12">
				单设备后台/机组环境状态
			</div>

			<div class="col-lg-6 col-xs-12 text-right">
				<span>当前时间：</span>
	            <span id="now-time"></span>
			</div>
		</div>

    <div class="row">
        <ul>
            <li style="background:#1abc9c;">
                <div class="row-ico">
                    <i class="fa fa-sun-o fa-4x" aria-hidden="true"></i>
                </div>
                <div class="row-font">
                    <p>温度</p>
                    <p>30℃</p>
                    <p>湿度</p>
                    <p>60%</p>
                </div>
            </li>
            <li style="background: #e74c3c;">
                <div class="row-ico">
                    <i class="fa fa-sun-o fa-4x" aria-hidden="true"></i>
                </div>
                <div class="row-font">
                    <p>电流</p>
                    <p>1A</p>
                    <p>电压</p>
                    <p>220V</p>
                </div>
            </li>
            <li style="background: #3498db;">
                <div class="row-ico">
                    <i class="fa fa-sun-o fa-4x" aria-hidden="true"></i>
                </div>
                <div class="row-font">
                    <p>前门</p>
                    <p>开</p>
                    <p>后门</p>
                    <p>关</p>
                </div>
            </li>
            <li style="background: #f39c12;">
                <div class="row-ico">
                    <i class="fa fa-sun-o fa-4x" aria-hidden="true"></i>
                </div>
                <div class="row-font">
                    <p>烟感</p>
                    <p>1A</p>
                    <p>水浸</p>
                    <p>220V</p>
                </div>
            </li>
            <li style="background: #34495e;">
                <div class="row-ico">
                    <i class="fa fa-sun-o fa-4x" aria-hidden="true"></i>
                </div>
                <div class="row-font">
                    <p>红外</p>
                    <p>1A</p>
                    <p>关键设备</p>
                    <p>220V</p>
                </div>
            </li>
        </ul>
    </div>
		

		<div class="row title red">
			<div class="col-lg-12 col-xs-12">
				警告！当前机柜温度过高
			</div>
		</div>
		<div class="chart">
			<p>温湿度监控曲线</p>
			
		</div>
</div>
<script src="/monitor/source/js/my.js"></script>
<script src="/monitor/source/js/huanj.js"></script>
<script>
    $(function(){
        init();
    })
</script>




