<div class="page page-email clearfix" ng-controller="EmailCtrl">
    <div class="row title">
        <div class="col-lg-6 col-xs-12">
            单设备后台/机组动力状态
        </div>

        <div class="col-lg-6 col-xs-12 text-right">
            <span>当前时间：</span>
            <span id="now-time"></span>
        </div>
    </div>
    <form id="jizuff">
    <div class="row">
        <ul>
            <li style="background:#1abc9c;">
                <div class="row-ico">
                    <img src="/monitor/source/images/one.png"/>
                </div>
                <div class="row-font">
                    <p>柜内温度</p>
                    <p><input type="text" name="xnwd" value="0">℃</p>
                    <p>环境温度</p>
                    <p><input type="text" name="hjkz" value="0">℃</p>
                </div>
            </li>
            <li style="background: #e74c3c;">
                <div class="row-ico">
                    <img src="/monitor/source/images/six.png"/>
                </div>
                <div class="row-font">
                    <p>压缩机1电流</p>
                    <p><input type="text" name="ysjone" value="0">A</p>
                    <p>压缩机2电流</p>
                    <p><input type="text" name="ysjtwo" value="0">A</p>
                </div>
            </li>
            <li style="background: #3498db;">
                <div class="row-ico">
                    <img src="/monitor/source/images/seven.png"/>
                </div>
                <div class="row-font">
                    <p>离心风机1电流</p>
                    <p><input type="text" name="lxfjone" value="0">A</p>
                    <p>离心风机2电流</p>
                    <p><input type="text" name="lxfjtwo" value="0">A</p>
                </div>
            </li>
            <li style="background: #f39c12;">
                <div class="row-ico">
                    <img src="/monitor/source/images/eight.png"/>
                </div>
                <div class="row-font">
                    <p>散热风机电流</p>
                    <p><input type="text" name="srfj" value="0">A</p>
                    <p>循环风机电流</p>
                    <p><input type="text" name="xhfj" value="0">A</p>
                </div>
            </li>
            #*<li style="background: #34495e;">
                <div class="row-ico">
                    <img src="/monitor/source/images/nine.png"/>
                </div>
                <div class="row-font">
                    <p>设备开机状态</p>
                    <p><input type="text" name="gzztstatus" value="暂无"></p>
                    <p>故障状态</p>
                    <p><input type="text" name="sbktztstatus" value="暂无"></p>
                </div>
            </li>*#
        </ul>
    </div>
    </form>
    <div class="row title red">
        <div class="col-lg-12 col-xs-12">
            <div class="jizu_tit" id="table_content">

            </div>
        </div>
    </div>
    <div class="chart">
        <p>柜内温度监控曲线</p>
        <div id="jizuth" style="height:400px;"></div>
    </div>
</div>
<link rel="stylesheet" href="/monitor/source/css/liMarquee.css"/>
<script src="$!env.getStaticURL('js/jquery-1.11.3.js')"></script>
<script src="/monitor/source/js/my.js"></script>
<script src="/monitor/source/js/echarts.min.js"></script>
<script src="/monitor/source/js/nsk.js"></script>
<script src="/monitor/source/js/jquery.liMarquee.js"></script>
<script src="/monitor/source/js/jizu.js"></script>
#LoadMUI("artTemplate")
<script>
    $(function(){
        window.setInterval(initJZ, 1000*2);
        window.setInterval(warninfo, 1000*2);
        chartsJZ();
    })
</script>

<script type="text/html" id="warninfo_template">
    {{each list as value i}}
    <p>{{value}}</p>
    {{/each}}
</script>