<div class="page page-email clearfix" ng-controller="EmailCtrl">
		<div class="row title">
			<div class="col-lg-6 col-xs-12">
				单设备后台/机组动力状态
			</div>

			<div class="col-lg-6 col-xs-12 text-right">
				<span>当前时间：</span>
	            <span id="now-time"></span>
			</div>
		</div>

    <div class="row">
        <ul>
            <li style="background:#1abc9c;">
                <div class="row-ico">
                    <i class="fa fa-sun-o fa-4x" aria-hidden="true"></i>
                </div>
                <div class="row-font">
                    <p>温度设定</p>
                    <p>30℃</p>
                    <p>环境控制温度</p>
                    <p>30℃</p>
                </div>
            </li>
            <li style="background: #e74c3c;">
                <div class="row-ico">
                    <i class="fa fa-sun-o fa-4x" aria-hidden="true"></i>
                </div>
                <div class="row-font">
                    <p>压缩机1电流</p>
                    <p>1A</p>
                    <p>压缩机2电流</p>
                    <p>220V</p>
                </div>
            </li>
            <li style="background: #3498db;">
                <div class="row-ico">
                    <i class="fa fa-sun-o fa-4x" aria-hidden="true"></i>
                </div>
                <div class="row-font">
                    <p>离心风机1电流</p>
                    <p>1A</p>
                    <p>离心风机2电流</p>
                    <p>2A</p>
                </div>
            </li>
            <li style="background: #f39c12;">
                <div class="row-ico">
                    <i class="fa fa-sun-o fa-4x" aria-hidden="true"></i>
                </div>
                <div class="row-font">
                    <p>散热风机电流</p>
                    <p>1A</p>
                    <p>循环风机电流</p>
                    <p>1A</p>
                </div>
            </li>
            <li style="background: #34495e;">
                <div class="row-ico">
                    <i class="fa fa-sun-o fa-4x" aria-hidden="true"></i>
                </div>
                <div class="row-font">
                    <p>工作状态</p>
                    <p>正常</p>
                    <p>故障状态</p>
                    <p>无</p>
                </div>
            </li>
        </ul>
    </div>
		<div class="row title red">
			<div class="col-lg-12 col-xs-12">
				警告！当前机柜温度过高
			</div>
		</div>
		<div class="chart">
			<p>温湿度监控曲线</p>
			
		</div>
</div>
<script src="/monitor/source/js/my.js"></script>