<link rel="stylesheet" href="/monitor/source/css/jquery.datetimepicker.css">
<div class="page page-yonghuSet clearfix">
    <div class="row title">
        <div class="col-lg-6 col-xs-12">
            单设备后台/设备管理 /告警时段设置
        </div>

        <div class="col-lg-6 col-xs-12 text-right">
            <span>当前时间：</span>
            <span id="now-time"></span>
        </div>
    </div>
    <div class="table-responsive">
        <div class="table-tit">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <p class="tit-name">告警时段设置</p>
                </div>

                <div class="col-lg-6 col-xs-12">
                    <div class="report-btn">
                        <button type="button" class="btn btn-success police-btn" onclick="addtr()">添加</button>
                        <button type="button" class="btn btn-info police-edit">编辑</button>
                        <button type="button" class="btn btn-danger" onclick="deletewarnperiod()">删除</button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped police-table">
            <thead>
            <tr class="text-center">
                <th><input class="allChk" type="checkbox" name="" id="" value=""/></th>
                <th>序号</th>
                <th>名称</th>
                <th>周一</th>
                <th>周二</th>
                <th>周三</th>
                <th>周四</th>
                <th>周五</th>
                <th>周六</th>
                <th>周日</th>
            </tr>
            </thead>
            <tbody class="chk-body" id="table_content">
            <tr>
                <td><input type="checkbox" name="" id="" value=""/></td>
                <td>0102</td>
                <td>全时段</td>
                <td>
                    <input type="text" class="datetimepicker"/><span>~</span><input type="text" class="datetimepicker"/>
                    <div class="pox" style="display: none;"></div>
                </td>
                <td>
                    <input type="text" class="datetimepicker"/><span>~</span><input type="text" class="datetimepicker"/>
                    <div class="pox" style="display: none;"></div>
                </td>
                <td>
                    <input type="text" class="datetimepicker"/><span>~</span><input type="text" class="datetimepicker"/>
                    <div class="pox" style="display: none;"></div>
                </td>
                <td>
                    <input type="text" class="datetimepicker"/><span>~</span><input type="text" class="datetimepicker"/>
                    <div class="pox" style="display: none;"></div>
                </td>
                <td>
                    <input type="text" class="datetimepicker"/><span>~</span><input type="text" class="datetimepicker"/>
                    <div class="pox" style="display: none;"></div>
                </td>
                <td>
                    <input type="text" class="datetimepicker"/><span>~</span><input type="text" class="datetimepicker"/>
                    <div class="pox" style="display: none;"></div>
                </td>
                <td>
                    <input type="text" class="datetimepicker"/><span>~</span><input type="text" class="datetimepicker"/>
                    <div class="pox" style="display: none;"></div>
                    <p style="display: none;">
                        <button class="police-notSave" onclick="notSave($(this))">取消</button>
                        <button class="police-save" onclick="save($(this))">保存</button>
                    </p>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <script src="$!env.getStaticURL('js/jquery-1.11.3.js')"></script>

        <script src="/monitor/source/js/jquery.datetimepicker.full.js"></script>
        <script src="/monitor/source/js/policeSet.js"></script>
        <script src="/monitor/source/js/my.js"></script>
        #LoadMUI("artTemplate")
        #LoadMUI("pagination")

        <script>

            $(function () {
                initPoliceSet();
            })

        </script>

        <script type="text/html" id="t:table_tmp">
            {{each list as value i}}
            <tr>
                <td><input type="checkbox" name="" id="" value="{{value.id}}"/></td>
                <td>{{i+1}}</td>
                <td><input name="ipt2" type='text' value="{{value.timeperiodname}}"></td>
                <td>
                    <input readonly type="text" class="datetimepicker" value="{{value.startmonday}}"/><span>~</span><input readonly type="text" class="datetimepicker" value="{{value.endmonday}}"/>
                    <div class="pox" style="display: none;"></div>
                </td>
                <td>
                    <input readonly type="text" class="datetimepicker" value="{{value.starttuesday}}"/><span>~</span><input readonly type="text" class="datetimepicker" value="{{value.endtuesday}}"/>
                    <div class="pox" style="display: none;"></div>
                </td>
                <td>
                    <input readonly type="text" class="datetimepicker" value="{{value.startwednesday}}"/><span>~</span><input readonly type="text" class="datetimepicker" value="{{value.endwednesday}}"/>
                    <div class="pox" style="display: none;"></div>
                </td>
                <td>
                    <input readonly type="text" class="datetimepicker" value="{{value.startthursday}}"/><span>~</span><input readonly type="text" class="datetimepicker" value="{{value.endthursday}}"/>
                    <div class="pox" style="display: none;"></div>
                </td>
                <td>
                    <input readonly type="text" class="datetimepicker" value="{{value.startfriday}}"/><span>~</span><input readonly type="text" class="datetimepicker" value="{{value.endfriday}}"/>
                    <div class="pox" style="display: none;"></div>
                </td>
                <td>
                    <input readonly type="text" class="datetimepicker" value="{{value.startsaturday}}"/><span>~</span><input readonly type="text" class="datetimepicker" value="{{value.endsaturday}}"/>
                    <div class="pox" style="display: none;"></div>
                </td>
                <td>
                    <input readonly type="text" class="datetimepicker" value="{{value.startsunday}}"/><span>~</span><input readonly type="text" class="datetimepicker" value="{{value.endsunday}}"/>
                    <div class="pox" style="display: none;"></div>
                    <p style="display: none;">
                        <button class="police-notSave" onclick="notSave($(this))">取消</button>
                        <button class="police-save" onclick="save($(this))">保存</button>
                    </p>
                </td>
            </tr>
            {{/each}}
        </script>

