<div class="page page-yonghuSet clearfix">
    <div class="row title">
        <div class="col-lg-6 col-xs-12">
            单设备后台/设备管理 /用户权限设置
        </div>

        <div class="col-lg-6 col-xs-12">
            <span>当前时间：</span>
            <span id="now-time"></span>
        </div>
    </div>
    <div class="table-responsive">
        <div class="table-tit">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <p class="tit-name">用户权限设置</p>
                </div>

                <div class="col-lg-6 col-xs-12">
                    <div class="report-btn">
                        <button type="button" class="btn btn-success person-add" onclick="addper()">添加</button>
                        <button type="button" class="btn btn-info person-edit" onclick="editper()">编辑</button>
                        <button type="button" class="btn btn-danger" onclick="deleteuser()">删除</button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped yonghu-table">
            <thead>
            <tr class="text-center">
                <th><input class="allChk" type="checkbox" name="" id="" value=""/></th>
                <th>序号</th>
                <th>账号</th>
                <th>密码</th>
                <th>真是姓名</th>
                <th>邮箱</th>
                <th>电话</th>
                <th>角色</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="chk-body" id="table_contentuserSet">

            </tbody>
        </table>
    </div>
    <div>
        <script src="$!env.getStaticURL('js/jquery-1.11.3.js')"></script>
        <script src="/monitor/source/js/my.js"></script>
        <script src="/monitor/source/js/userSet.js"></script>
        #LoadMUI("artTemplate")
        #LoadMUI("pagination")

        <script>
            $(function () {
                inituseraccess();
            })
        </script>

        <script type="text/html" id="userSet_tmp">
            {{each list as value i}}
            <tr>
                <td><input type="checkbox" name="" id="" value="{{value.user.id}}"/></td>
                <td>{{i+1}}</td>
                <td><input type="text" value="{{value.user.username}}"/></td>
                <td><input type="password" value="{{value.user.password}}"/></td>
                <td><input type="text" value="{{value.user.realname}}"/></td>
                <td><input type="text" value="{{value.user.email}}"/></td>
                <td><input type="text" value="{{value.user.phone}}"/></td>
                <td>
                    <select disabled="disabled" class="nosel">
                        {{if value.role.id==1}}
                        <option value="1" selected="selected">超级管理员</option>
                        <option value="2">普通管理员</option>
                        {{else}}
                        <option value="1">超级管理员</option>
                        <option value="2" selected="selected">普通管理员</option>
                        {{/if}}
                    </select>
                </td>
                <td>
                    <p style="display: none;">
                        <span class='time-notSave' onclick="usenot($(this))">取消</span>
                        <span class='time-save' onclick="save($(this))">保存</span>
                    </p>
                </td>
            </tr>
            {{/each}}
        </script>